<div class="main">
  <div class="top-content">
    <h1>Exibindo resultado de busca por "text"</h1>
    <span>Encontramos um total de 20 resultados para sua busca</span>
  </div>

  <app-post-list-component></app-post-list-component>

  <div class="container">
    <aside>
      <h3 id="sidebar-categories">Categorias</h3>
      <span>Lorem Ipsum</span>
      <hr />
      <span>Lorem Ipsum</span>
      <hr />
      <span>Lorem Ipsum</span>
      <hr />
      <span>Lorem Ipsum</span>
      <hr />

      <div id="search-field">
        <h4>Procurando alguma notícia?</h4>
        <input type="text" placeholder="Pesquisar por..." />
      </div>
    </aside>
  </div>
</div>

<router-outlet></router-outlet>
