@import "../../sass-files/colors";

.post-container {
  border: 1px solid rgb(239, 239, 239);
  border-radius: 5px;
  width: 350px;
  min-height: 400px;

  img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .post-content {
    padding: 10px;

    #post-title {
      color: $color-primary;
      margin-bottom: 10px;
    }

    #post-body {
      color: $color-secondary;
      font-size: small;
    }

    #read-more {
      font-size: smaller;
    }
  }
}
