<div class="container">
  <div class="content">
    <section>
      <h1>Cadastrar Post</h1>
    </section>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
      <label for="title"></label>
      <input
        type="text"
        name="title"
        class="title-input"
        placeholder="Título"
        ngModel
      />

      <label for="content"></label>
      <textarea
        name="content"
        class="post-content"
        placeholder="Conteúdo"
        ngModel
      ></textarea>

      <button type="submit">Cadastrar</button>
    </form>
  </div>
</div>
